/* Interactive Prototype */

/* colors: oranges: C04B2A, D15932, E16F35, E48125*/


/* GLOBAL ============================================*/



*, *:before, *:after {
    margin: 0;
    padding: 0;
    z-index: 1;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

      
body {
    min-height: 100%;
    position: relative;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #37474F;
}

a {
    color: #E48125;
}
a:hover {
    color: #37474F;
}

nav {
    width: 100%;
    height: 60px;
    /*background-color: rgba(255, 255, 255, 0.75);*/
    padding: 0px;
    position: fixed;
    text-align: center;
    padding-bottom: 10px;
    letter-spacing: 1px;
    z-index: 2;
}

nav ul {
    position: relative;
    list-style-type: none;
    color: #c3c3c3;
    margin-left: 10%;
    margin-right: 5%;
    height: 50px;
}

nav li {
    float: right;
    display: inline;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
}

nav li a {
    text-decoration: none;
    color: #37474F;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    display: inline-block;
    height: 30px;
}
nav li a:hover {
    color: #E48125;
}

#navlist {
    position: relative;
    display: inline;
    width: auto;
    float: right;
}

#logo {
    float: left;
    margin-top: -15px;
}
#logo a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.color1, .active1 {
    color: #E48125;
}
.color2, .active2 {
    color: #D15932;
}
.color3, .active3 {
    color: #C04B2A;
}

button {
    background: transparent;
    border-radius: 30px;
    font-size: .9em;
    color: #E48125;
    padding: 10px;
    cursor: pointer;
    border-style: solid;
    border-color: #E48125;
}
button:hover {
    background: #E48125;
    border-bottom-color: #D15932;
    color: white;
}



.noNav {
    background-color: rgba(0, 0, 0, 0);
    /*background: linear-gradient(180deg, rgba(255, 255, 255, 0.64), rgba(255, 255, 255, 0));*/
}

::selection {
    background: #E48125; /* WebKit/Blink Browsers */
    color: white;
}
::-moz-selection {
    background: #E48125; /* Gecko Browsers */
    color: white;
}



/* INDEX -----------------------------------------------*/

#banner {
    width: 100%;
    height: 100vh;
    min-height: 100%;
    /*background-image: url(img/thespaceWEBoverlay.jpg);*/
    background-color: rgba(238, 238, 238, 0.85);
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: auto;
    margin-right: auto;
}

#bgvid { 
    position: fixed;
    /*top: 50%;
    left: 50%;*/
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateY(0%);
    background-size: cover;
}

#bannerCover {
    position: relative;
    top: 40%;
    width: 740px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}

#bannerCover h4 {
    font-family: 'Montserrat', sans-serif;
    color: #37474F;
    font-size: 1.75em;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#bannerCover p {
    margin-left: auto;
    margin-right: auto;
    font-weight: 700px;
    /*font-size: 1.15em;
    color: #37474F;*/
}


/* PROJECTS ----------------------------------------------*/


#projects {
    padding-bottom: 110px;
    height: auto; /*100vh;*/
    background: url(img/Backgrounds/ProjectsBackground2.jpg);
    background-color: #ECEFF1;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    margin-right: 100px;
    min-height: 100%;
    z-index: -10;
    padding-top: 75px;
    color: #37474F;
}

#projects .row {
    text-align: center;
}

.pcontainer {
    width: auto;
    margin-left: auto;
    margin-left: auto;
    display: inline-block;
}

.proj {
    display: inline-block;
    position: relative;
    float: left;
    height: auto;
    min-height: 520px;
    width: 400px;
    margin: 20px;
    text-align: left;
    background: white;
    
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.31);
    cursor: pointer;
}
.proj:after {
    display: table;
    clear: both;
}
.proj:hover {
    box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.4);
}

.desc {
    position: relative;
    margin: 15px;
}

.proj > img {
    max-height: 240px;
    overflow: hidden;
}

.proj h2 {
    float: left; 
    margin-bottom: 5px;
    width: 100%;
    font-size: 1.75em;
    color: #E48125;
}

#projects h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1em;
    margin-bottom: 30px;
}

#projects p img {
    border-radius: 40px;
    margin-right: 10px;
    margin-bottom: 5px; 
}

.proj p {
    /*font-size: .9em;*/
    margin-top: 10px;
    color: #37474F;
}

.bottom span {
    color: #E48125;
    padding-right: 10px;
}
.bottom {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.eco {
    height: 30px;
    width: auto;
    margin-top: 5px;
    background-image: url(img/Logos/ECO-full-color.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.phev {
    height: 60px;
    width: auto;
    margin-top: 5px;
    background-image: url(img/Logos/phev_banner.png);
    background-size: contain;
    background-repeat: no-repeat;
}




.tooltip {
	position:absolute;
	border:1px solid #333;
    background-color:rgba(22, 22, 22, 0.8);
	border-radius:5px;
	padding:10px;
	color:#fff;
	font-size:.75em;
    z-index: 1000;
}

/* LIGHTBOXES -------------------*/

.backdrop { /*code by Tony Lea http://www.tonylea.com/2011/how-to-create-your-own-jquery-lightbox/*/
    position:absolute;
    top:0px;
	left:0px;
    width:100%;
    height:100%;
    background:#000;
    opacity: .0;
    filter:alpha(opacity=0);
    z-index:50;
    display:none;
}
 
 
.box { /*code by Tony Lea*/
    position:fixed;
    top:10%;
    left:25%;
    width: 50%;
    min-height: 100px;
    background:#ECEFF1;
    z-index:51;
    padding:40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow:0px 0px 5px #444444;
    -webkit-box-shadow:0px 0px 5px #444444;
    box-shadow:0px 0px 5px #444444;
    display:none;
}

.box p {
    font-size: 1em;
    line-height: 1.35em;
    text-align: left;
    hyphens: auto;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
}
 
.close { /*code by Tony Lea*/
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.main {
    width: auto;
    margin-right: 220px;
}

/* SIDEBAR ----------------------*/

.sidebar {
    position: fixed;
    float: right;
    right: 0;
    top: 0;
    width: 220px;
    height: 100%;
    background-color: white;
    padding: 20px;
    margin-top: 75px;
    line-height: 1.5em;
    text-align: center;
}

.sidebar img {
    padding-bottom: 10px;
}

.sidebar #filtertitle {
    color: #37474F;
    font-size: 1em;
    padding-bottom: 20px;
}

.sidebar h2 {
    padding-top: 15px;
    padding-bottom: 5px;
    text-align: left;
    /*color: #E48125;*/
}

#consumer {
    padding-top: 0px;
}

/*.sidebar form {text-align: left;}
.sidebar input {display: none;}
.sidebar label:hover {background-color: #EEE;}
.sidebar label {cursor: pointer;}
.sidebar span {padding: 0px;}
.sidebar label:before {background-color: #E48125;}
.sidebar input:checked + span {background-color: #E48125; color: white;}*/


.sidebar ul {
    text-align: left;
    list-style: none;
}

.sidebar li {
    padding: 3px;
    cursor: pointer;
}

.sidebar li:hover {
    color: #DDD;
}


.selected {
    background: #E48125;
    color: white;
}
.selected h2, .selected h3, .selected li, .selected p, .selected span {
    color: white;
}

.selected2 {
    background: #E48125;
    color: white;
}
.selected2 h2, .selected2 h3, .selected2 li, .selected2 p, .selected span {
    color: white;
}

.selected3 {
    background: #E48125;
    color: white;
}
.selected3 h2, .selected3 h3, .selected3 li, .selected3 p, .selected span {
    color: white;
}


/* PEOPLE ----------------------------------------------*/


#people {
    width: 100%;
    height: auto; /*100vh;*/
    background: url(img/Backgrounds/PeopleBackground.jpg);
    background-color: #ECEFF1;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    padding-top: 75px;
    color: #37474F;
}
.people:nth-child(even) {
    background-color: white;
}

.title {
    height: 40px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 60px;
    
}

.title h1 {
    position: relative;
    width: 100%;
    font-size: 1.75em;
    color: #E48125;
}

.people {
    padding-bottom: 20px;
}

.peeps {
    float: left;
    position: relative;
    width: 180px;
    height: 180px;
    /*background-color: white;*/
    margin: 10px;
    /*overflow: hidden;*/
}

.peeps:hover {
    /*background-color: #E48125;
    color: white;
    -webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;*/
}

.peeps img {
    position: relative;
    display: block;
    bottom: 0px;
    border-radius: 90px;
    margin-left: auto;
    margin-right: auto;
    /*box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.31);*/
}

.peeps img:hover {
    /*border-radius: 75px;*/
}

.peeps h2 {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 1em;
    padding-top: 5px;
}

.peeps span {
    font-size: .85em;
    color: #b2b2b2;
}

#people section:last-child {
    padding-bottom: 110px;
}


/* ABOUT ----------------------------------------------*/


#about {
    width: 100%;
    height: auto; /*100vh;*/
    background: url(img/Backgrounds/AboutBackground.jpg);
    background-color: #ECEFF1;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
    padding-top: 75px;
    color: #37474F;
}

#about div {
    padding-bottom: 30px;
}
#about article:nth-child(even) {
    background-color: white;
    padding-bottom: 30px;
}
#about article:last-child {
    padding-bottom: 70px;
}

#about h1 {
    text-align: center;
    font-size: 1.75em;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #E48125;
}

#about ul {
    line-height: 175%;
    color: #E48125;
}

#about p {
    line-height: 175%;
}

#partners .collab {
    background: white;
    min-height: 100px;
}

#partners img {
    display: block;
    max-height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background: white;
}

#about a {
    text-decoration: underline;
}

#partners {
    height: 500px;
}

#partners .half {
    min-height: 130px;
    width: 45%;
    margin: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#partners img {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

#partners img:hover {
  filter: none;
  -webkit-filter: grayscale(0%);
}

#vid {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
}


/* FOOTER ==============================================*/

footer {
    clear: both;
    position: absolute;
    display: block;
    color: #37474F;
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*background: linear-gradient(0deg, black, rgba(0, 0, 0, 0));*/
    /*background: linear-gradient(0deg, rgba(255, 255, 255, 0.48), rgba(255, 255, 255, 0));*/
    bottom: 0px;
    width: 100%;
    height: 40px;
    font-size: .85em;
    font-weight: 400;
    /*z-index: 5;*/
}

#contact {
    float: left;
    display: inline;
    margin-left: 20px;
    margin-top: 10px;
    vertical-align: middle;
}

#copyright {
    float: right;
    margin-right: 20px;
    margin-top: 10px;
}


/* GRIDS =============================================*/


.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    width: 100%;    
}
.row:after {
    content: "";
    display: block;
    clear: both;
}

.whole {
    width: 100%;
}
.half {
    width: 50%;
    display: inline-block;
    float: left;
}

.sixty {
    width: 50%;
    display: block;
    float: left;
}
.forty {
    width: 40%;
    display: block;
    float: left;
}
.third {
    width: 30%;
    display: inline-block;
}
.fourth {
    width: 25%;
    display: inline-block;
    float: left;
}
.eighth {
    width: 12%px;
    display: inline-block;
}

.tenth {
    width: 10%;
    float: left;
    display: inline-block;
}